In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

#  Load data

In [2]:
df_train = pd.read_csv('training_variants')

In [3]:
df_train.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [4]:
df_test = pd.read_csv('test_variants')

In [5]:
df_test.head()

   ID     Gene Variation
0   0    ACSL4     R570S
1   1    NAGLU     P521L
2   2      PAH     L333F
3   3     ING1     A148D
4   4  TMEM216      G77A

In [6]:
df_train_text = pd.read_csv('training_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [7]:
df_train_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [8]:
df_test_text = pd.read_csv('test_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [9]:
df_test_text.head()

   ID                                               Text
0   0  2. This mutation resulted in a myeloproliferat...
1   1   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2  Vascular endothelial growth factor receptor (V...
3   3  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4   Abstract Retinoblastoma is a pediatric retina...

In [10]:
df_submission = pd.read_csv('submissionFile')

In [11]:
df_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0       0       0       0       0       0       1       0       0       0
1   1       0       1       0       0       0       0       0       0       0
2   2       0       0       0       0       0       1       0       0       0
3   3       0       0       0       0       0       0       0       1       0
4   4       0       0       0       1       0       0       0       0       0

#  Examine data shape

In [12]:
df_train.shape

(3321, 4)

In [13]:
df_test.shape

(5668, 3)

In [14]:
df_train.groupby('Class').describe()

          ID                                                             \
       count         mean          std    min      25%     50%      75%
Class
1      568.0  1431.561620   950.721629    0.0   542.75  1265.0  2280.25
2      452.0  1644.789823  1055.856113    1.0   840.75  1442.5  2745.50
3       89.0  1645.191011   772.938547    3.0   975.00  1650.0  2224.00
4      686.0  1440.048105   891.106100    4.0   622.50  1575.5  2209.75
5      242.0  2026.157025   817.487914    6.0  1412.25  2467.5  2637.50
6      275.0  2163.410909   831.190933   20.0  1434.00  2484.0  2817.50
7      953.0  1755.014690   948.957122   28.0  1059.00  1670.0  2708.00
8       19.0  1554.684211   973.636200  121.0   529.00  1768.0  2276.00
9       37.0   936.675676   790.795277  122.0   131.00  1083.0  1751.00


          max
Class
1      3318.0
2      3290.0
3      3255.0
4      3320.0
5      3289.0
6      3314.0
7      3310.0
8      3114.0
9      3061.0

In [15]:
df_train.groupby('Gene').describe()

         Class                                                    ID          \
         count      mean       std  min   25%  50%   75%  max  count    mean
Gene
ABL1      26.0  2.384615  1.358732  2.0  2.00  2.0  2.00  7.0   26.0   849.5
ACVR1      3.0  5.333333  2.886751  2.0  4.50  7.0  7.00  7.0    3.0  1069.0
AGO2       5.0  1.200000  0.447214  1.0  1.00  1.0  1.00  2.0    5.0  2087.0
AKT1      28.0  5.892857  1.950105  2.0  5.00  7.0  7.00  8.0   28.0  1353.5
AKT2      11.0  6.909091  1.814086  2.0  7.00  7.0  7.00  9.0   11.0  1373.0
AKT3       4.0  5.750000  2.500000  2.0  5.75  7.0  7.00  7.0    4.0  3180.5
ALK       69.0  5.768116  1.918524  2.0  5.00  7.0  7.00  7.0   69.0  1540.0
APC        5.0  2.200000  1.643168  1.0  1.00  1.0  4.00  4.0    5.0  1725.0
AR        20.0  5.650000  2.007224  1.0  5.00  6.5  7.00  7.0   20.0  1791.5
ARAF       7.0  6.285714  1.889822  2.0  7.00  7.0  7.00  7.0    7.0  1805.0
ARID1A     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  1080.0
ARID1B     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  1162.5
ARID2      2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0   286.5
ARID5B     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  1277.0
ASXL1      1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0   702.0
ASXL2      1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0   341.0
ATM        6.0  2.666667  1.861899  1.0  1.00  2.5  4.00  5.0    6.0  1955.5
ATR        1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  2091.0
ATRX       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  2092.5
AURKA      3.0  6.000000  1.732051  4.0  5.50  7.0  7.00  7.0    3.0  2352.0
AURKB      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0    1.0   612.0
AXIN1      1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  1097.0
AXL        1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0    1.0  2104.0
B2M        6.0  3.000000  1.549193  1.0  1.75  4.0  4.00  4.0    6.0  2108.5
BAP1       9.0  3.333333  1.322876  1.0  4.00  4.0  4.00  4.0    9.0  1102.0
BARD1      1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  2117.0
BCL10      2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  2950.5
BCL2       1.0  7.000000       NaN  7.0  7.00  7.0  7.00  7.0    1.0  2131.0
BCL2L11    2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  3202.5
BCOR       5.0  6.600000  3.130495  1.0  8.00  8.0  8.00  8.0    5.0  2276.0
...        ...       ...       ...  ...   ...  ...   ...  ...    ...     ...
SMARCB1    2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  1909.5
SMO       21.0  4.428571  2.420153  2.0  2.00  5.0  7.00  7.0   21.0  1923.0
SOS1       6.0  6.166667  2.041241  2.0  7.00  7.0  7.00  7.0    6.0  2047.5
SOX9       7.0  3.428571  2.070197  1.0  2.00  4.0  4.00  7.0    7.0  2064.0
SPOP      20.0  3.250000  1.332785  1.0  3.25  4.0  4.00  4.0   20.0  1440.5
SRC        2.0  4.500000  3.535534  2.0  3.25  4.5  5.75  7.0    2.0  2112.5
SRSF2      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0    1.0  1705.0
STAG2      1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  2043.0
STAT3      8.0  5.125000  2.587746  2.0  2.00  7.0  7.00  7.0    8.0  2289.5
STK11     13.0  3.615385  1.192928  1.0  4.00  4.0  4.00  5.0   13.0  2360.0
TCF3       1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0    1.0  3183.0
TCF7L2     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0    1.0  3184.0
TERT       8.0  4.875000  1.885092  2.0  4.00  4.0  7.00  7.0    8.0    30.5
TET1       3.0  3.000000  3.464102  1.0  1.00  1.0  4.00  7.0    3.0  1901.0
TET2      14.0  4.214286  2.190138  1.0  1.75  5.0  6.00  6.0   14.0  2074.5
TGFBR1     8.0  3.250000  1.388730  1.0  3.25  4.0  4.00  4.0    8.0    92.5
TGFBR2     5.0  2.400000  1.516575  1.0  1.00  2.0  4.00  4.0    5.0    99.0
TMPRSS2    6.0  3.166667  1.940790  2.0  2.00  2.5  3.00  7.0    6.0   302.5
TP53     163.0  2.527607  1.675211  1.0  1.00  1.0  4.00  9.0  163.0   450.0
TP53BP1    2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0   532.5
TSC1      20.0  3.300000  1.128576  1.0  3.00  4.0  4.00  5.0   20.0   998.5
TSC2      47.0  2.595745  1.637330  1.0  1.00  4.0  4.00  7.0   47.0  1033.0
U2AF1      3.0  9.000000  0.000000  9.0  9.00  9.0  9.00  9.0    3.0  1152.0
VEGFA      1.0  7.000000       NaN  7.0  7.00  7.0  7.00  7.0    1.0  1578.0
VHL       41.0  3.000000  1.581139  1.0  1.00  4.0  4.00  6.0   41.0  1608.0
WHSC1      1.0  7.000000       NaN  7.0  7.00  7.0  7.00  7.0    1.0  1706.0
WHSC1L1    1.0  6.000000       NaN  6.0  6.00  6.0  6.00  6.0    1.0  2294.0
XPO1       2.0  4.000000  2.828427  2.0  3.00  4.0  5.00  6.0    2.0  1771.5
XRCC2      2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0    2.0  1773.5
YAP1       4.0  3.250000  2.500000  2.0  2.00  2.0  3.25  7.0    4.0  1242.5


               std     min      25%     50%      75%     max
Gene
ABL1      7.648529   837.0   843.25   849.5   855.75   862.0
ACVR1     1.000000  1068.0  1068.50  1069.0  1069.50  1070.0
AGO2      1.581139  2085.0  2086.00  2087.0  2088.00  2089.0
AKT1      8.225975  1340.0  1346.75  1353.5  1360.25  1367.0
AKT2      3.316625  1368.0  1370.50  1373.0  1375.50  1378.0
AKT3      1.290994  3179.0  3179.75  3180.5  3181.25  3182.0
ALK      20.062403  1506.0  1523.00  1540.0  1557.00  1574.0
APC       1.581139  1723.0  1724.00  1725.0  1726.00  1727.0
AR        5.916080  1782.0  1786.75  1791.5  1796.25  1801.0
ARAF      2.160247  1802.0  1803.50  1805.0  1806.50  1808.0
ARID1A         NaN  1080.0  1080.00  1080.0  1080.00  1080.0
ARID1B    0.707107  1162.0  1162.25  1162.5  1162.75  1163.0
ARID2     0.707107   286.0   286.25   286.5   286.75   287.0
ARID5B         NaN  1277.0  1277.00  1277.0  1277.00  1277.0
ASXL1          NaN   702.0   702.00   702.0   702.00   702.0
ASXL2          NaN   341.0   341.00   341.0   341.00   341.0
ATM       1.870829  1953.0  1954.25  1955.5  1956.75  1958.0
ATR            NaN  2091.0  2091.00  2091.0  2091.00  2091.0
ATRX      0.707107  2092.0  2092.25  2092.5  2092.75  2093.0
AURKA     1.000000  2351.0  2351.50  2352.0  2352.50  2353.0
AURKB          NaN   612.0   612.00   612.0   612.00   612.0
AXIN1          NaN  1097.0  1097.00  1097.0  1097.00  1097.0
AXL            NaN  2104.0  2104.00  2104.0  2104.00  2104.0
B2M       1.870829  2106.0  2107.25  2108.5  2109.75  2111.0
BAP1      2.738613  1098.0  1100.00  1102.0  1104.00  1106.0
BARD1          NaN  2117.0  2117.00  2117.0  2117.00  2117.0
BCL10     0.707107  2950.0  2950.25  2950.5  2950.75  2951.0
BCL2           NaN  2131.0  2131.00  2131.0  2131.00  2131.0
BCL2L11   0.707107  3202.0  3202.25  3202.5  3202.75  3203.0
BCOR      1.581139  2274.0  2275.00  2276.0  2277.00  2278.0
...            ...     ...      ...     ...      ...     ...
SMARCB1   0.707107  1909.0  1909.25  1909.5  1909.75  1910.0
SMO       6.204837  1913.0  1918.00  1923.0  1928.00  1933.0
SOS1      1.870829  2045.0  2046.25  2047.5  2048.75  2050.0
SOX9      2.160247  2061.0  2062.50  2064.0  2065.50  2067.0
SPOP      5.916080  1431.0  1435.75  1440.5  1445.25  1450.0
SRC       0.707107  2112.0  2112.25  2112.5  2112.75  2113.0
SRSF2          NaN  1705.0  1705.00  1705.0  1705.00  1705.0
STAG2          NaN  2043.0  2043.00  2043.0  2043.00  2043.0
STAT3     2.449490  2286.0  2287.75  2289.5  2291.25  2293.0
STK11     3.894440  2354.0  2357.00  2360.0  2363.00  2366.0
TCF3           NaN  3183.0  3183.00  3183.0  3183.00  3183.0
TCF7L2         NaN  3184.0  3184.00  3184.0  3184.00  3184.0
TERT      2.449490    27.0    28.75    30.5    32.25    34.0
TET1      1.000000  1900.0  1900.50  1901.0  1901.50  1902.0
TET2      4.183300  2068.0  2071.25  2074.5  2077.75  2081.0
TGFBR1    2.449490    89.0    90.75    92.5    94.25    96.0
TGFBR2    1.581139    97.0    98.00    99.0   100.00   101.0
TMPRSS2   1.870829   300.0   301.25   302.5   303.75   305.0
TP53     47.198164   369.0   409.50   450.0   490.50   531.0
TP53BP1   0.707107   532.0   532.25   532.5   532.75   533.0
TSC1      5.916080   989.0   993.75   998.5  1003.25  1008.0
TSC2     13.711309  1010.0  1021.50  1033.0  1044.50  1056.0
U2AF1     1.000000  1151.0  1151.50  1152.0  1152.50  1153.0
VEGFA          NaN  1578.0  1578.00  1578.0  1578.00  1578.0
VHL      11.979149  1588.0  1598.00  1608.0  1618.00  1628.0
WHSC1          NaN  1706.0  1706.00  1706.0  1706.00  1706.0
WHSC1L1        NaN  2294.0  2294.00  2294.0  2294.00  2294.0
XPO1      0.707107  1771.0  1771.25  1771.5  1771.75  1772.0
XRCC2     0.707107  1773.0  1773.25  1773.5  1773.75  1774.0
YAP1      1.290994  1241.0  1241.75  1242.5  1243.25  1244.0

[264 rows x 16 columns]

In [16]:
df_train_text.shape

(3321, 2)

In [17]:
df_test_text.shape

(5668, 2)

In [18]:
df_train_text.iloc[0].Text

"Cyclin-dependent kinases (CDKs) regulate a variety of fundamental cellular processes. CDK10 stands out as one of the last orphan CDKs for which no activating cyclin has been identified and no kinase activity revealed. Previous work has shown that CDK10 silencing increases ETS2 (v-ets erythroblastosis virus E26 oncogene homolog 2)-driven activation of the MAPK pathway, which confers tamoxifen resistance to breast cancer cells. The precise mechanisms by which CDK10 modulates ETS2 activity, and more generally the functions of CDK10, remain elusive. Here we demonstrate that CDK10 is a cyclin-dependent kinase by identifying cyclin M as an activating cyclin. Cyclin M, an orphan cyclin, is the product of FAM58A, whose mutations cause STAR syndrome, a human developmental anomaly whose features include toe syndactyly, telecanthus, and anogenital and renal malformations. We show that STAR syndrome-associated cyclin M mutants are unable to interact with CDK10. Cyclin M silencing phenocopies CDK10 silencing in increasing c-Raf and in conferring tamoxifen resistance to breast cancer cells. CDK10/cyclin M phosphorylates ETS2 in vitro, and in cells it positively controls ETS2 degradation by the proteasome. ETS2 protein levels are increased in cells derived from a STAR patient, and this increase is attributable to decreased cyclin M levels. Altogether, our results reveal an additional regulatory mechanism for ETS2, which plays key roles in cancer and development. They also shed light on the molecular mechanisms underlying STAR syndrome.Cyclin-dependent kinases (CDKs) play a pivotal role in the control of a number of fundamental cellular processes (1). The human genome contains 21 genes encoding proteins that can be considered as members of the CDK family owing to their sequence similarity with bona fide CDKs, those known to be activated by cyclins (2). Although discovered almost 20 y ago (3, 4), CDK10 remains one of the two CDKs without an identified cyclin partner. This knowledge gap has largely impeded the exploration of its biological functions. CDK10 can act as a positive cell cycle regulator in some cells (5, 6) or as a tumor suppressor in others (7, 8). CDK10 interacts with the ETS2 (v-ets erythroblastosis virus E26 oncogene homolog 2) transcription factor and inhibits its transcriptional activity through an unknown mechanism (9). CDK10 knockdown derepresses ETS2, which increases the expression of the c-Raf protein kinase, activates the MAPK pathway, and induces resistance of MCF7 cells to tamoxifen (6).Here, we deorphanize CDK10 by identifying cyclin M, the product of FAM58A, as a binding partner. Mutations in this gene that predict absence or truncation of cyclin M are associated with STAR syndrome, whose features include toe syndactyly, telecanthus, and anogenital and renal malformations in heterozygous females (10). However, both the functions of cyclin M and the pathogenesis of STAR syndrome remain unknown. We show that a recombinant CDK10/cyclin M heterodimer is an active protein kinase that phosphorylates ETS2 in vitro. Cyclin M silencing phenocopies CDK10 silencing in increasing c-Raf and phospho-ERK expression levels and in inducing tamoxifen resistance in estrogen receptor (ER)+ breast cancer cells. We show that CDK10/cyclin M positively controls ETS2 degradation by the proteasome, through the phosphorylation of two neighboring serines. Finally, we detect an increased ETS2 expression level in cells derived from a STAR patient, and we demonstrate that it is attributable to the decreased cyclin M expression level observed in these cells.Previous SectionNext SectionResultsA yeast two-hybrid (Y2H) screen unveiled an interaction signal between CDK10 and a mouse protein whose C-terminal half presents a strong sequence homology with the human FAM58A gene product [whose proposed name is cyclin M (11)]. We thus performed Y2H mating assays to determine whether human CDK10 interacts with human cyclin M (Fig. 1 A–C). The longest CDK10 isoform (P1) expressed as a bait protein produced a strong interaction phenotype with full-length cyclin M (expressed as a prey protein) but no detectable phenotype with cyclin D1, p21 (CIP1), and Cdi1 (KAP), which are known binding partners of other CDKs (Fig. 1B). CDK1 and CDK3 also produced Y2H signals with cyclin M, albeit notably weaker than that observed with CDK10 (Fig. 1B). An interaction phenotype was also observed between full-length cyclin M and CDK10 proteins expressed as bait and prey, respectively (Fig. S1A). We then tested different isoforms of CDK10 and cyclin M originating from alternative gene splicing, and two truncated cyclin M proteins corresponding to the hypothetical products of two mutated FAM58A genes found in STAR syndrome patients (10). None of these shorter isoforms produced interaction phenotypes (Fig. 1 A and C and Fig. S1A).Fig. 1.In a new window Download PPTFig. 1.CDK10 and cyclin M form an interaction complex. (A) Schematic representation of the different protein isoforms analyzed by Y2H assays. Amino acid numbers are indicated. Black boxes indicate internal deletions. The red box indicates a differing amino acid sequence compared with CDK10 P1. (B) Y2H assay between a set of CDK proteins expressed as baits (in fusion to the LexA DNA binding domain) and CDK interacting proteins expressed as preys (in fusion to the B42 transcriptional activator). pEG202 and pJG4-5 are the empty bait and prey plasmids expressing LexA and B42, respectively. lacZ was used as a reporter gene, and blue yeast are indicative of a Y2H interaction phenotype. (C) Y2H assay between the different CDK10 and cyclin M isoforms. The amino-terminal region of ETS2, known to interact with CDK10 (9), was also assayed. (D) Western blot analysis of Myc-CDK10 (wt or kd) and CycM-V5-6His expression levels in transfected HEK293 cells. (E) Western blot analysis of Myc-CDK10 (wt or kd) immunoprecipitates obtained using the anti-Myc antibody. “Inputs” correspond to 10 μg total lysates obtained from HEK293 cells coexpressing Myc-CDK10 (wt or kd) and CycM-V5-6His. (F) Western blot analysis of immunoprecipitates obtained using the anti-CDK10 antibody or a control goat antibody, from human breast cancer MCF7 cells. “Input” corresponds to 30 μg MCF7 total cell lysates. The lower band of the doublet observed on the upper panel comigrates with the exogenously expressed untagged CDK10 and thus corresponds to endogenous CDK10. The upper band of the doublet corresponds to a nonspecific signal, as demonstrated by it insensitivity to either overexpression of CDK10 (as seen on the left lane) or silencing of CDK10 (Fig. S2B). Another experiment with a longer gel migration is shown in Fig. S1D.Next we examined the ability of CDK10 and cyclin M to interact when expressed in human cells (Fig. 1 D and E). We tested wild-type CDK10 (wt) and a kinase dead (kd) mutant bearing a D181A amino acid substitution that abolishes ATP binding (12). We expressed cyclin M-V5-6His and/or Myc-CDK10 (wt or kd) in a human embryonic kidney cell line (HEK293). The expression level of cyclin M-V5-6His was significantly increased upon coexpression with Myc-CDK10 (wt or kd) and, to a lesser extent, that of Myc-CDK10 (wt or kd) was increased upon coexpression with cyclin M-V5-6His (Fig. 1D). We then immunoprecipitated Myc-CDK10 proteins and detected the presence of cyclin M in the CDK10 (wt) and (kd) immunoprecipitates only when these proteins were coexpressed pair-wise (Fig. 1E). We confirmed these observations by detecting the presence of Myc-CDK10 in cyclin M-V5-6His immunoprecipitates (Fig. S1B). These experiments confirmed the lack of robust interaction between the CDK10.P2 isoform and cyclin M (Fig. S1C). To detect the interaction between endogenous proteins, we performed immunoprecipitations on nontransfected MCF7 cells derived from a human breast cancer. CDK10 and cyclin M antibodies detected their cognate endogenous proteins by Western blotting. We readily detected cyclin M in immunoprecipitates obtained with the CDK10 antibody but not with a control antibody (Fig. 1F). These results confirm the physical interaction between CDK10 and cyclin M in human cells.To unveil a hypothesized CDK10/cyclin M protein kinase activity, we produced GST-CDK10 and StrepII-cyclin M fusion proteins in insect cells, either individually or in combination. We observed that GST-CDK10 and StrepII-cyclin M copurified, thus confirming their interaction in yet another cellular model (Fig. 2A). We then performed in vitro kinase assays with purified proteins, using histone H1 as a generic substrate. Histone H1 phosphorylation was detected only from lysates of cells coexpressing GST-CDK10 and StrepII-cyclin M. No phosphorylation was detected when GST-CDK10 or StrepII-cyclin M were expressed alone, or when StrepII-cyclin M was coexpressed with GST-CDK10(kd) (Fig. 2A). Next we investigated whether ETS2, which is known to interact with CDK10 (9) (Fig. 1C), is a phosphorylation substrate of CDK10/cyclin M. We detected strong phosphorylation of ETS2 by the GST-CDK10/StrepII-cyclin M purified heterodimer, whereas no phosphorylation was detected using GST-CDK10 alone or GST-CDK10(kd)/StrepII-cyclin M heterodimer (Fig. 2B).Fig. 2.In a new window Download PPTFig. 2.CDK10 is a cyclin M-dependent protein kinase. (A) In vitro protein kinase assay on histone H1. Lysates from insect cells expressing different proteins were purified on a glutathione Sepharose matrix to capture GST-CDK10(wt or kd) fusion proteins alone, or in complex with STR-CycM fusion protein. Purified protein expression levels were analyzed by Western blots (Top and Upper Middle). The kinase activity was determined by autoradiography of histone H1, whose added amounts were visualized by Coomassie staining (Lower Middle and Bottom). (B) Same as in A, using purified recombinant 6His-ETS2 as a substrate.CDK10 silencing has been shown to increase ETS2-driven c-RAF transcription and to activate the MAPK pathway (6). We investigated whether cyclin M is also involved in this regulatory pathway. To aim at a highly specific silencing, we used siRNA pools (mix of four different siRNAs) at low final concentration (10 nM). Both CDK10 and cyclin M siRNA pools silenced the expression of their cognate targets (Fig. 3 A and C and Fig. S2) and, interestingly, the cyclin M siRNA pool also caused a marked decrease in CDK10 protein level (Fig. 3A and Fig. S2B). These results, and those shown in Fig. 1D, suggest that cyclin M binding stabilizes CDK10. Cyclin M silencing induced an increase in c-Raf protein and mRNA levels (Fig. 3 B and C) and in phosphorylated ERK1 and ERK2 protein levels (Fig. S3B), similarly to CDK10 silencing. As expected from these effects (6), CDK10 and cyclin M silencing both decreased the sensitivity of ER+ MCF7 cells to tamoxifen, to a similar extent. The combined silencing of both genes did not result in a higher resistance to the drug (Fig. S3C). Altogether, these observations demonstrate a functional interaction between cyclin M and CDK10, which negatively controls ETS2.Fig. 3.In a new window Download PPTFig. 3.Cyclin M silencing up-regulates c-Raf expression. (A) Western blot analysis of endogenous CDK10 and cyclin M expression levels in MCF7 cells, in response to siRNA-mediated gene silencing. (B) Western blot analysis of endogenous c-Raf expression levels in MCF7 cells, in response to CDK10 or cyclin M silencing. A quantification is shown in Fig. S3A. (C) Quantitative RT-PCR analysis of CDK10, cyclin M, and c-Raf mRNA levels, in response to CDK10 (Upper) or cyclin M (Lower) silencing. **P ≤ 0.01; ***P ≤ 0.001.We then wished to explore the mechanism by which CDK10/cyclin M controls ETS2. ETS2 is a short-lived protein degraded by the proteasome (13). A straightforward hypothesis is that CDK10/cyclin M positively controls ETS2 degradation. We thus examined the impact of CDK10 or cyclin M silencing on ETS2 expression levels. The silencing of CDK10 and that of cyclin M caused an increase in the expression levels of an exogenously expressed Flag-ETS2 protein (Fig. S4A), as well as of the endogenous ETS2 protein (Fig. 4A). This increase is not attributable to increased ETS2 mRNA levels, which marginally fluctuated in response to CDK10 or cyclin M silencing (Fig. S4B). We then examined the expression levels of the Flag-tagged ETS2 protein when expressed alone or in combination with Myc-CDK10 or -CDK10(kd), with or without cyclin M-V5-6His. Flag-ETS2 was readily detected when expressed alone or, to a lesser extent, when coexpressed with CDK10(kd). However, its expression level was dramatically decreased when coexpressed with CDK10 alone, or with CDK10 and cyclin M (Fig. 4B). These observations suggest that endogenous cyclin M levels are in excess compared with those of CDK10 in MCF7 cells, and they show that the major decrease in ETS2 levels observed upon CDK10 coexpression involves CDK10 kinase activity. Treatment of cells coexpressing Flag-ETS2, CDK10, and cyclin M with the proteasome inhibitor MG132 largely rescued Flag-ETS2 expression levels (Fig. 4B).Fig. 4.In a new window Download PPTFig. 4.CDK10/cyclin M controls ETS2 stability in human cancer derived cells. (A) Western blot analysis of endogenous ETS2 expression levels in MCF7 cells, in response to siRNA-mediated CDK10 and/or cyclin M silencing. A quantification is shown in Fig. S4B. (B) Western blot analysis of exogenously expressed Flag-ETS2 protein levels in MCF7 cells cotransfected with empty vectors or coexpressing Myc-CDK10 (wt or kd), or Myc-CDK10/CycM-V5-6His. The latter cells were treated for 16 h with the MG132 proteasome inhibitor. Proper expression of CDK10 and cyclin M tagged proteins was verified by Western blot analysis. (C and D) Western blot analysis of expression levels of exogenously expressed Flag-ETS2 wild-type or mutant proteins in MCF7 cells, in the absence of (C) or in response to (D) Myc-CDK10/CycM-V5-6His expression. Quantifications are shown in Fig. S4 C and D.A mass spectrometry analysis of recombinant ETS2 phosphorylated by CDK10/cyclin M in vitro revealed the existence of multiple phosphorylated residues, among which are two neighboring phospho-serines (at positions 220 and 225) that may form a phosphodegron (14) (Figs. S5–S8). To confirm this finding, we compared the phosphorylation level of recombinant ETS2wt with that of ETS2SASA protein, a mutant bearing alanine substitutions of these two serines. As expected from the existence of multiple phosphorylation sites, we detected a small but reproducible, significant decrease of phosphorylation level of ETS2SASA compared with ETS2wt (Fig. S9), thus confirming that Ser220/Ser225 are phosphorylated by CDK10/cyclin M. To establish a direct link between ETS2 phosphorylation by CDK10/cyclin M and degradation, we examined the expression levels of Flag-ETS2SASA. In the absence of CDK10/cyclin M coexpression, it did not differ significantly from that of Flag-ETS2. This is contrary to that of Flag-ETS2DBM, bearing a deletion of the N-terminal destruction (D-) box that was previously shown to be involved in APC-Cdh1–mediated degradation of ETS2 (13) (Fig. 4C). However, contrary to Flag-ETS2 wild type, the expression level of Flag-ETS2SASA remained insensitive to CDK10/cyclin M coexpression (Fig. 4D). Altogether, these results suggest that CDK10/cyclin M directly controls ETS2 degradation through the phosphorylation of these two serines.Finally, we studied a lymphoblastoid cell line derived from a patient with STAR syndrome, bearing FAM58A mutation c.555+1G>A, predicted to result in aberrant splicing (10). In accordance with incomplete skewing of X chromosome inactivation previously found in this patient, we detected a decreased expression level of cyclin M protein in the STAR cell line, compared with a control lymphoblastoid cell line. In line with our preceding observations, we detected an increased expression level of ETS2 protein in the STAR cell line compared with the control (Fig. 5A and Fig. S10A). We then examined by quantitative RT-PCR the mRNA expression levels of the corresponding genes. The STAR cell line showed a decreased expression level of cyclin M mRNA but an expression level of ETS2 mRNA similar to that of the control cell line (Fig. 5B). To demonstrate that the increase in ETS2 protein expression is indeed a result of the decreased cyclin M expression observed in the STAR patient-derived cell line, we expressed cyclin M-V5-6His in this cell line. This expression caused a decrease in ETS2 protein levels (Fig. 5C).Fig. 5.In a new window Download PPTFig. 5.Decreased cyclin M expression in STAR patient-derived cells results in increased ETS2 protein level. (A) Western blot analysis of cyclin M and ETS2 protein levels in a STAR patient-derived lymphoblastoid cell line and in a control lymphoblastoid cell line, derived from a healthy individual. A quantification is shown in Fig. S10A. (B) Quantitative RT-PCR analysis of cyclin M and ETS2 mRNA levels in the same cells. ***P ≤ 0.001. (C) Western blot analysis of ETS2 protein levels in the STAR patient-derived lymphoblastoid cell line transfected with an empty vector or a vector directing the expression of cyclin M-V5-6His. Another Western blot revealing endogenously and exogenously expressed cyclin M levels is shown in Fig. S10B. A quantification of ETS2 protein levels is shown in Fig. S10C.Previous SectionNext SectionDiscussionIn this work, we unveil the interaction between CDK10, the last orphan CDK discovered in the pregenomic era (2), and cyclin M, the only cyclin associated with a human genetic disease so far, and whose functions remain unknown (10). The closest paralogs of CDK10 within the CDK family are the CDK11 proteins, which interact with L-type cyclins (15). Interestingly, the closest paralog of these cyclins within the cyclin family is cyclin M (Fig. S11). The fact that none of the shorter CDK10 isoforms interact robustly with cyclin M suggests that alternative splicing of the CDK10 gene (16, 17) plays an important role in regulating CDK10 functions.The functional relevance of the interaction between CDK10 and cyclin M is supported by different observations. Both proteins seem to enhance each other’s stability, as judged from their increased expression levels when their partner is exogenously coexpressed (Fig. 1D) and from the much reduced endogenous CDK10 expression level observed in response to cyclin M silencing (Fig. 3A and Fig. S2B). CDK10 is subject to ubiquitin-mediated degradation (18). Our observations suggest that cyclin M protects CDK10 from such degradation and that it is the only cyclin partner of CDK10, at least in MCF7 cells. They also suggest that cyclin M stability is enhanced upon binding to CDK10, independently from its kinase activity, as seen for cyclin C and CDK8 (19). We uncover a cyclin M-dependent CDK10 protein kinase activity in vitro, thus demonstrating that this protein, which was named a CDK on the sole basis of its amino acid sequence, is indeed a genuine cyclin-dependent kinase. Our Y2H assays reveal that truncated cyclin M proteins corresponding to the hypothetical products of two STAR syndrome-associated FAM58A mutations do not produce an interaction phenotype with CDK10. Hence, regardless of whether these mutated mRNAs undergo nonsense-mediated decay (as suggested from the decreased cyclin M mRNA levels in STAR cells, shown in Fig. 5B) or give rise to truncated cyclin M proteins, females affected by the STAR syndrome must exhibit compromised CDK10/cyclin M kinase activity at least in some tissues and during specific developmental stages.We show that ETS2, a known interactor of CDK10, is a phosphorylation substrate of CDK10/cyclin M in vitro and that CDK10/cyclin M kinase activity positively controls ETS2 degradation by the proteasome. This control seems to be exerted through a very fine mechanism, as judged from the sensitivity of ETS2 levels to partially decreased CDK10 and cyclin

#  merging test and train data for processing

In [19]:
df_test["Class"] = -1

In [20]:
df = pd.concat([df_train, df_test])

In [21]:
df.tail()

        ID     Gene Variation  Class
5663  5663  SLC46A1     R113S     -1
5664  5664    FOXC1     L130F     -1
5665  5665      GSS     R267W     -1
5666  5666     CTSK      G79E     -1
5667  5667   DFNB59      T54I     -1

In [22]:
df.shape

(8989, 4)

In [23]:
df_text = pd.concat([df_train_text, df_test_text])

In [24]:
df_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [25]:
df_text.shape

(8989, 2)

In [26]:
df_text.tail()

        ID                                               Text
5663  5663  The realization in the late 1970s that RAS har...
5664  5664  Hemizygous deletions are common molecular abno...
5665  5665  All most R267W of has with to SMARTpool invest...
5666  5666  Abstract Blood samples from 125 unrelated fami...
5667  5667  Loss of DNA mismatch repair (MMR) in humans, m...

In [27]:
del(df_train)

In [28]:
del(df_test)

In [29]:
del(df_train_text)

In [30]:
del(df_test_text)

# chage categorical to numbers

In [31]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [32]:
le.fit(df.Gene)

LabelEncoder()

In [33]:
le.transform(df.Gene)

array([447, 216, 216, ..., 576, 314, 344])

In [34]:
df['Gene'] = le.transform(df.Gene)

In [35]:
df.head()

   ID  Gene             Variation  Class
0   0   447  Truncating Mutations      1
1   1   216                 W802*      2
2   2   216                 Q249E      2
3   3   216                 N454D      3
4   4   216                 L399V      4

In [36]:
df.tail()

        ID  Gene Variation  Class
5663  5663  1262     R113S     -1
5664  5664   486     L130F     -1
5665  5665   576     R267W     -1
5666  5666   314      G79E     -1
5667  5667   344      T54I     -1

In [37]:
le.fit(df.Variation)

LabelEncoder()

In [38]:
df['Variation'] = le.transform(df.Variation)

In [39]:
df.head()

   ID  Gene  Variation  Class
0   0   447       7654      1
1   1   216       8255      2
2   2   216       5191      2
3   3   216       4572      3
4   4   216       3958      4

# use CountVectorizer to simply convert text to vector

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
vectorizer = CountVectorizer()

In [42]:
vectorizer.fit(df_text.Text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [43]:
df_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [44]:
X = vectorizer.transform(df_text.Text)

In [45]:
X_array = X.toarray()

In [46]:
df_text_array = pd.DataFrame(X_array)

In [47]:
df_text_array.head()

,0,1,2,3,4,5,6,7,8,9,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
0,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
del(X)

In [49]:
del(X_array)

In [50]:
del(df_text)

#  merge two dataframes into one

In [51]:
df = df.reset_index(drop=True)

In [52]:
df.tail()

        ID  Gene  Variation  Class
8984  5663  1262       5379     -1
8985  5664   486       3684     -1
8986  5665   576       5892     -1
8987  5666   314       2785     -1
8988  5667   344       7542     -1

In [53]:
df_text_array = df_text_array.reset_index(drop=True)

In [54]:
 result = pd.concat([df, df_text_array], axis=1)

In [55]:
result.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
0,0,447,7654,1,0,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,216,8255,2,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,216,5191,2,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,216,4572,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,216,3958,4,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
del(df)

In [57]:
del(df_text_array)

# split train and test again

In [58]:
train = result[result.Class >0]

In [59]:
test = result[result.Class == -1]

In [60]:
train.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
0,0,447,7654,1,0,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,216,8255,2,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,216,5191,2,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,216,4572,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,216,3958,4,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
train.tail()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
3316,3316,1155,960,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3317,3317,1155,56,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3318,3318,1155,2076,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3319,3319,1155,6606,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,3320,1155,3608,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
test.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
3321,0,28,6404,-1,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,1,852,5005,-1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3323,2,950,3915,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3324,3,657,85,-1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3325,4,1376,2780,-1,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
test.tail()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
8984,5663,1262,5379,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8985,5664,486,3684,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8986,5665,576,5892,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8987,5666,314,2785,-1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8988,5667,344,7542,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
del(result)

#  split the train dataset for internal evaluation

In [65]:
from sklearn.cross_validation import train_test_split
from sklearn import metrics

/Users/takuyasakaguchi/anaconda/envs/python36/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [66]:
y_train = train.pop('Class')

In [67]:
x_train = train

In [71]:
y_test = test.pop('Class')

In [72]:
x_test = test

In [68]:
x_train.head()

,ID,Gene,Variation,0,1,2,3,4,5,6,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
0,0,447,7654,0,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,216,8255,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,216,5191,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,216,4572,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,216,3958,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train, y_train, random_state=0)

#  Use Random Forest for first quick prediction

In [70]:
from sklearn.ensemble import RandomForestClassifier

Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train,random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(Xtrain, ytrain)
ypred = clf.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.63898916967509023

## 0.638 is the internal evaluatin score.

#  Make a prediction to submit to Kaggle

In [73]:
prediction = clf.predict_proba(x_test)

In [94]:
df_prediction  = pd.DataFrame(prediction)

In [95]:
df_prediction.head()

      0     1     2     3     4     5     6     7     8
0  0.05  0.18  0.00  0.05  0.02  0.01  0.67  0.01  0.01
1  0.17  0.14  0.00  0.38  0.03  0.04  0.23  0.01  0.00
2  0.17  0.19  0.00  0.05  0.02  0.03  0.52  0.02  0.00
3  0.10  0.16  0.00  0.15  0.03  0.03  0.51  0.00  0.02
4  0.13  0.12  0.01  0.26  0.03  0.01  0.41  0.02  0.01

In [96]:
df_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0       0       0       0       0       0       1       0       0       0
1   1       0       1       0       0       0       0       0       0       0
2   2       0       0       0       0       0       1       0       0       0
3   3       0       0       0       0       0       0       0       1       0
4   4       0       0       0       1       0       0       0       0       0

In [97]:
df_submission.columns.values

array(['ID', 'class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9'], dtype=object)

In [98]:
class_name = ['class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9']

In [99]:
df_prediction.columns = class_name

In [100]:
df_prediction.head()

   class1  class2  class3  class4  class5  class6  class7  class8  class9
0    0.05    0.18    0.00    0.05    0.02    0.01    0.67    0.01    0.01
1    0.17    0.14    0.00    0.38    0.03    0.04    0.23    0.01    0.00
2    0.17    0.19    0.00    0.05    0.02    0.03    0.52    0.02    0.00
3    0.10    0.16    0.00    0.15    0.03    0.03    0.51    0.00    0.02
4    0.13    0.12    0.01    0.26    0.03    0.01    0.41    0.02    0.01

In [101]:
df_prediction.to_csv('predict1.csv')

In [102]:
df_prediction2 = pd.read_csv('predict1.csv')

In [103]:
df_prediction2.head()

,Unnamed: 0,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,0,0.05,0.18,0.00,0.05,0.02,0.01,0.67,0.01,0.01
1,1,0.17,0.14,0.00,0.38,0.03,0.04,0.23,0.01,0.00
2,2,0.17,0.19,0.00,0.05,0.02,0.03,0.52,0.02,0.00
3,3,0.10,0.16,0.00,0.15,0.03,0.03,0.51,0.00,0.02
4,4,0.13,0.12,0.01,0.26,0.03,0.01,0.41,0.02,0.01

In [104]:
df_prediction2.columns

Index(['Unnamed: 0', 'class1', 'class2', 'class3', 'class4', 'class5',
       'class6', 'class7', 'class8', 'class9'],
      dtype='object')

In [105]:
submission_columns = ['ID', 'class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9']

In [106]:
df_prediction2.columns = submission_columns

In [108]:
df_prediction2.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0    0.05    0.18    0.00    0.05    0.02    0.01    0.67    0.01    0.01
1   1    0.17    0.14    0.00    0.38    0.03    0.04    0.23    0.01    0.00
2   2    0.17    0.19    0.00    0.05    0.02    0.03    0.52    0.02    0.00
3   3    0.10    0.16    0.00    0.15    0.03    0.03    0.51    0.00    0.02
4   4    0.13    0.12    0.01    0.26    0.03    0.01    0.41    0.02    0.01

In [109]:
df_prediction2.to_csv('first_submission_rf1.csv', index = False)

## Kaggle submission this file.

In [90]:
test.ID

3321       0
3322       1
3323       2
3324       3
3325       4
3326       5
3327       6
3328       7
3329       8
3330       9
3331      10
3332      11
3333      12
3334      13
3335      14
3336      15
3337      16
3338      17
3339      18
3340      19
3341      20
3342      21
3343      22
3344      23
3345      24
3346      25
3347      26
3348      27
3349      28
3350      29
        ...
8959    5638
8960    5639
8961    5640
8962    5641
8963    5642
8964    5643
8965    5644
8966    5645
8967    5646
8968    5647
8969    5648
8970    5649
8971    5650
8972    5651
8973    5652
8974    5653
8975    5654
8976    5655
8977    5656
8978    5657
8979    5658
8980    5659
8981    5660
8982    5661
8983    5662
8984    5663
8985    5664
8986    5665
8987    5666
8988    5667
Name: ID, Length: 5668, dtype: int64

In [87]:
df_prediction['ID'] = test.ID

In [88]:
df_prediction.head()

   class1  class2  class3  class4  class5  class6  class7  class8  class9  ID
0    0.05    0.18    0.00    0.05    0.02    0.01    0.67    0.01    0.01 NaN
1    0.17    0.14    0.00    0.38    0.03    0.04    0.23    0.01    0.00 NaN
2    0.17    0.19    0.00    0.05    0.02    0.03    0.52    0.02    0.00 NaN
3    0.10    0.16    0.00    0.15    0.03    0.03    0.51    0.00    0.02 NaN
4    0.13    0.12    0.01    0.26    0.03    0.01    0.41    0.02    0.01 NaN

In [89]:
df_prediction[df_submission.columns.values]

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,NaN,0.05,0.18,0.00,0.05,0.02,0.01,0.67,0.01,0.01
1,NaN,0.17,0.14,0.00,0.38,0.03,0.04,0.23,0.01,0.00
2,NaN,0.17,0.19,0.00,0.05,0.02,0.03,0.52,0.02,0.00
3,NaN,0.10,0.16,0.00,0.15,0.03,0.03,0.51,0.00,0.02
4,NaN,0.13,0.12,0.01,0.26,0.03,0.01,0.41,0.02,0.01
5,NaN,0.13,0.10,0.00,0.57,0.04,0.04,0.10,0.01,0.01
6,NaN,0.11,0.14,0.04,0.22,0.05,0.04,0.38,0.00,0.02
7,NaN,0.14,0.09,0.00,0.34,0.17,0.05,0.20,0.01,0.00
8,NaN,0.14,0.25,0.00,0.21,0.04,0.08,0.27,0.00,0.01
9,NaN,0.12,0.23,0.00,0.11,0.03,0.04,0.45,0.01,0.01
10,NaN,0.08,0.18,0.01,0.10,0.01,0.03,0.59,0.00,0.00
11,NaN,0.05,0.13,0.01,0.20,0.02,0.01,0.58,0.00,0.00
12,NaN,0.29,0.00,0.00,0.01,0.54,0.15,0.01,0.00,0.00
13,NaN,0.15,0.10,0.02,0.11,0.02,0.01,0.58,0.01,0.00
14,NaN,0.10,0.18,0.00,0.11,0.05,0.05,0.50,0.01,0.00
15,NaN,0.11,0.18,0.00,0.10,0.02,0.01,0.57,0.01,0.00
16,NaN,0.30,0.09,0.01,0.15,0.03,0.02,0.40,0.00,0.00
17,NaN,0.11,0.18,0.02,0.11,0.02,0.04,0.52,0.00,0.00
18,NaN,0.12,0.16,0.02,0.20,0.02,0.03,0.45,0.00,0.00
19,NaN,0.00,0.00,0.78,0.00,0.00,0.00,0.22,0.00,0.00
20,NaN,0.19,0.18,0.01,0.21,0.01,0.02,0.35,0.03,0.00
21,NaN,0.11,0.23,0.03,0.11,0.01,0.02,0.46,0.02,0.01
22,NaN,0.20,0.15,0.00,0.32,0.03,0.05,0.22,0.01,0.02
23,NaN,0.07,0.13,0.01,0.06,0.02,0.03,0.66,0.01,0.01
24,NaN,0.13,0.24,0.01,0.08,0.04,0.08,0.39,0.01,0.02
25,NaN,0.22,0.14,0.01,0.22,0.01,0.04,0.32,0.01,0.03
26,NaN,0.20,0.13,0.00,0.23,0.00,0.03,0.38,0.01,0.02
27,NaN,0.04,0.18,0.01,0.09,0.02,0.02,0.62,0.02,0.00
28,NaN,0.18,0.14,0.01,0.13,0.07,0.02,0.41,0.00,0.04
29,NaN,0.18,0.16,0.00,0.08,0.06,0.04,0.48,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
5638,2317.0,0.14,0.30,0.00,0.10,0.04,0.05,0.36,0.01,0.00
5639,2318.0,0.26,0.09,0.02,0.27,0.08,0.05,0.20,0.01,0.02
5640,2319.0,0.05,0.10,0.00,0.12,0.01,0.03,0.69,0.00,0.00
5641,2320.0,0.13,0.12,0.00,0.20,0.05,0.06,0.35,0.06,0.03
5642,2321.0,0.17,0.23,0.03,0.13,0.03,0.04,0.33,0.02,0.02
5643,2322.0,0.20,0.11,0.01,0.29,0.01,0.03,0.31,0.01,0.03
5644,2323.0,0.15,0.19,0.01,0.20,0.01,0.01,0.42,0.01,0.00
5645,2324.0,0.09,0.46,0.00,0.15,0.03,0.03,0.24,0.00,0.00
5646,2325.0,0.17,0.14,0.00,0.14,0.03,0.01,0.48,0.03,0.00
5647,2326.0,0.17,0.21,0.02,0.35,0.04,0.03,0.13,0.03,0.02
5648,2327.0,0.11,0.15,0.00,0.16,0.02,0.04,0.50,0.02,0.00
5649,2328.0,0.18,0.25,0.01,0.16,0.04,0.02,0.33,0.01,0.00
5650,2329.0,0.16,0.02,0.01,0.78,0.02,0.00,0.01,0.00,0.00
5651,2330.0,0.25,0.17,0.05,0.21,0.04,0.02,0.25,0.00,0.01
5652,2331.0,0.06,0.35,0.01,0.14,0.01,0.04,0.38,0.00,0.01
5653,2332.0,0.07,0.20,0.03,0.13,0.05,0.03,0.47,0.00,0.02
5654,2333.0,0.11,0.28,0.00,0.08,0.05,0.04,0.44,0.00,0.00
5655,2334.0,0.23,0.04,0.02,0.20,0.04,0.06,0.40,0.01,0.00
5656,2335.0,0.16,0.15,0.03,0.14,0.06,0.03,0.41,0.02,0.00
5657,2336.0,0.20,0.16,0.04,0.14,0.09,0.04,0.32,0.00,0.01
5658,2337.0,0.32,0.15,0.01,0.18,0.09,0.06,0.18,0.01,0.00
5659,2338.0,0.19,0.16,0.03,0.25,0.08,0.04,0.24,0.00,0.01
5660,2339.0,0.15,0.21,0.00,0.20,0.03,0.03,0.32,0.06,0.00
5661,2340.0,0.17,0.18,0.01,0.15,0.04,0.01,0.43,0.00,0.01
5662,2341.0,0.13,0.21,0.01,0.14,0.03,0.01,0.44,0.00,0.03
5663,2342.0,0.19,0.20,0.00,0.10,0.04,0.04,0.42,0.00,0.01
5664,2343.0,0.26,0.11,0.01,0.24,0.05,0.03,0.30,0.00,0.00
5665,2344.0,0.08,0.46,0.00,0.04,0.01,0.07,0.32,0.00,0.02
5666,2345.0,0.18,0.17,0.02,0.12,0.03,0.00,0.47,0.00,0.01
5667,2346.0,0.26,0.09,0.01,0.31,0.03,0.03,0.24,0.00,0.03

In [74]:
x = clf.feature_importances_

In [75]:
df = pd.DataFrame(x)

In [77]:
df.head()

          0
0  0.058251
1  0.005005
2  0.057148
3  0.000103
4  0.000214

In [78]:
df.columns = ['a']

In [80]:
df.head()

          a
0  0.058251
1  0.005005
2  0.057148
3  0.000103
4  0.000214

In [81]:
df.describe()

                   a
count  169428.000000
mean        0.000006
std         0.000202
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         0.058251

In [99]:
df[df.a >0.0004].index.values

array([     0,      1,      2,   1590,   6087,   7149,   8011,  12216,
        20557,  20560,  23660,  23677,  23685,  23757,  23779,  24392,
        24875,  25691,  26362,  26651,  27353,  27531,  28386,  29384,
        30276,  30910,  31189,  32675,  33604,  33738,  33943,  34203,
        34405,  34581,  34588,  35858,  36395,  37167,  39619,  40364,
        40373,  40622,  42423,  42486,  43526,  43608,  44909,  44916,
        45061,  46341,  46451,  46692,  47039,  47120,  47122,  47195,
        47324,  47593,  47928,  52174,  52387,  53084,  54111,  54343,
        54396,  54397,  56295,  56601,  56657,  57252,  57266,  59778,
        59931,  61284,  62156,  62157,  63690,  63701,  63838,  64319,
        64372,  64993,  65010,  65270,  66051,  66170,  66649,  67296,
        67589,  68038,  68274,  68317,  68342,  68367,  72205,  72366,
        72450,  75833,  78462,  79542,  81384,  83746,  85533,  85764,
        85845,  85849,  85947,  86280,  86285,  86312,  86332,  86536,
        86951,  87119,  87319,  88458,  91619,  91803,  92158,  95364,
        95930,  96297,  96299,  97347,  97908, 100855, 101579, 101800,
       103530, 104164, 104234, 105100, 105415, 105485, 105656, 106597,
       106895, 106925, 106942, 107014, 110042, 110045, 111406, 112018,
       112276, 112388, 112983, 113079, 113782, 114222, 114481, 114504,
       114528, 114611, 115572, 115714, 118657, 118663, 118703, 118752,
       118802, 119942, 120274, 121585, 121624, 121680, 121770, 121773,
       124175, 125237, 126274, 126616, 126679, 127769, 127990, 128245,
       133413, 133445, 133776, 133918, 133997, 134651, 135001, 135253,
       136088, 136152, 137556, 141205, 141556, 141746, 142224, 143079,
       143083, 143482, 143574, 144589, 145172, 145584, 146426, 147443,
       147553, 147979, 148585, 148745, 150599, 151183, 153396, 153457,
       153806, 153815, 153826, 153974, 154967, 155200, 155639, 156042,
       156196, 156238, 156610, 156617, 156746, 157265, 158032, 158526,
       158922, 160406, 160762, 162481, 162499, 163450, 164687, 164761,
       164907, 165092, 165453, 165928, 167694, 167711])

In [100]:
columns = df[df.a >0.0004].index.values

In [101]:
df_train = train[columns]

In [102]:
df_train.head()

,0,1,2,1590,6087,7149,8011,12216,20557,20560,...,162499,163450,164687,164761,164907,165092,165453,165928,167694,167711
0,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
1,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,0,0
4,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,0,0

In [104]:
df_test = test[columns]

In [105]:
y_test = test.Class

# XGBoost

In [110]:
import time
import xgboost as xgb

In [106]:
random_state = 0

In [134]:
Xtrain, Xtest, ytrain, ytest = train_test_split(df_train, y_train, test_size=0.2, random_state=1)

In [135]:
dtrain = xgb.DMatrix(Xtrain.values, ytrain.values)
dvalid = xgb.DMatrix(Xtest.values, ytest.values)

In [136]:
dtest = xgb.DMatrix(df_test.values, y_test)
d_all_train = xgb.DMatrix(df_train.values, y_train)

In [137]:
num_boost_round = 1250

In [150]:
params = {}
# use softmax multi-class classification
param['objective'] = 'multi:softprob'
# scale weight of positive examples
param['eta'] = 0.01
param['max_depth'] = 9
param['silent'] = 1
param['nthread'] = 4
param['num_class'] = 9

In [151]:
num_round = 200

In [171]:
early_stopping_rounds = 60

In [172]:
watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, early_stopping_rounds=early_stopping_rounds, verbose_eval=True)

[0]	train-rmse:3.49643	eval-rmse:3.51574
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 60 rounds.
[1]	train-rmse:2.85528	eval-rmse:2.9166
[2]	train-rmse:2.47653	eval-rmse:2.56506
[3]	train-rmse:2.25646	eval-rmse:2.37587
[4]	train-rmse:2.11935	eval-rmse:2.28899
[5]	train-rmse:2.04201	eval-rmse:2.23212
[6]	train-rmse:1.98101	eval-rmse:2.20395
[7]	train-rmse:1.9433	eval-rmse:2.1885
[8]	train-rmse:1.93036	eval-rmse:2.18431
[9]	train-rmse:1.91832	eval-rmse:2.18081
[10]	train-rmse:1.90674	eval-rmse:2.17863
[11]	train-rmse:1.90152	eval-rmse:2.17766
[12]	train-rmse:1.89908	eval-rmse:2.17673
[13]	train-rmse:1.89678	eval-rmse:2.17534
[14]	train-rmse:1.89384	eval-rmse:2.17314
[15]	train-rmse:1.88499	eval-rmse:2.17538
[16]	train-rmse:1.88288	eval-rmse:2.17396
[17]	train-rmse:1.87836	eval-rmse:2.17179
[18]	train-rmse:1.87541	eval-rmse:2.17242
[19]	train-rmse:1.874	eval-rmse:2.17204
[20]	train-rmse:1.87095	eval-rmse:2.17506
[21]	train-rmse:1.84915	eval-rmse:2.17067
[22]	train-rmse:1.84789	eval-rmse:2.17163
[23]	train-rmse:1.8467	eval-rmse:2.17002
[24]	train-rmse:1.84562	eval-rmse:2.17044
[25]	train-rmse:1.84459	eval-rmse:2.17134
[26]	train-rmse:1.83813	eval-rmse:2.17608
[27]	train-rmse:1.83708	eval-rmse:2.17495
[28]	train-rmse:1.83592	eval-rmse:2.17466
[29]	train-rmse:1.83464	eval-rmse:2.17508
[30]	train-rmse:1.83057	eval-rmse:2.17531
[31]	train-rmse:1.82769	eval-rmse:2.17594
[32]	train-rmse:1.82347	eval-rmse:2.17097
[33]	train-rmse:1.82267	eval-rmse:2.17185
[34]	train-rmse:1.82163	eval-rmse:2.17183
[35]	train-rmse:1.81868	eval-rmse:2.17245
[36]	train-rmse:1.81102	eval-rmse:2.17364
[37]	train-rmse:1.81013	eval-rmse:2.1732
[38]	train-rmse:1.80874	eval-rmse:2.1734
[39]	train-rmse:1.8034	eval-rmse:2.17443
[40]	train-rmse:1.80274	eval-rmse:2.17432
[41]	train-rmse:1.80209	eval-rmse:2.17454
[42]	train-rmse:1.80147	eval-rmse:2.17524
[43]	train-rmse:1.7993	eval-rmse:2.17781
[44]	train-rmse:1.79828	eval-rmse:2.17853
[45]	train-rmse:1.79771	eval-rmse:2.17853
[46]	train-rmse:1.7954	eval-rmse:2.18036
[47]	train-rmse:1.78818	eval-rmse:2.18715
[48]	train-rmse:1.78312	eval-rmse:2.18523
[49]	train-rmse:1.77456	eval-rmse:2.18316
[50]	train-rmse:1.77249	eval-rmse:2.18323
[51]	train-rmse:1.76621	eval-rmse:2.18299
[52]	train-rmse:1.75798	eval-rmse:2.18204
[53]	train-rmse:1.75186	eval-rmse:2.1819
[54]	train-rmse:1.75118	eval-rmse:2.18155
[55]	train-rmse:1.7507	eval-rmse:2.18128
[56]	train-rmse:1.74707	eval-rmse:2.17718
[57]	train-rmse:1.74591	eval-rmse:2.17855
[58]	train-rmse:1.74547	eval-rmse:2.17878
[59]	train-rmse:1.74498	eval-rmse:2.17872
[60]	train-rmse:1.74453	eval-rmse:2.17906
[61]	train-rmse:1.74119	eval-rmse:2.18187
[62]	train-rmse:1.73899	eval-rmse:2.18023
[63]	train-rmse:1.73859	eval-rmse:2.18011
[64]	train-rmse:1.73822	eval-rmse:2.1806
[65]	train-rmse:1.73686	eval-rmse:2.18052
[66]	train-rmse:1.7356	eval-rmse:2.18257
[67]	train-rmse:1.73287	eval-rmse:2.18046
[68]	train-rmse:1.73243	eval-rmse:2.18019
[69]	train-rmse:1.73053	eval-rmse:2.18271
[70]	train-rmse:1.72985	eval-rmse:2.18404
[71]	train-rmse:1.72921	eval-rmse:2.18384
[72]	train-rmse:1.72887	eval-rmse:2.18442
[73]	train-rmse:1.72746	eval-rmse:2.18422
[74]	train-rmse:1.72081	eval-rmse:2.17789
[75]	train-rmse:1.70655	eval-rmse:2.17495
[76]	train-rmse:1.70567	eval-rmse:2.17558
[77]	train-rmse:1.70329	eval-rmse:2.17552
[78]	train-rmse:1.69557	eval-rmse:2.17537
[79]	train-rmse:1.68586	eval-rmse:2.17678
[80]	train-rmse:1.68062	eval-rmse:2.17397
[81]	train-rmse:1.67948	eval-rmse:2.17391
[82]	train-rmse:1.67917	eval-rmse:2.17371
[83]	train-rmse:1.67857	eval-rmse:2.17424
Stopping. Best iteration:
[23]	train-rmse:1.8467	eval-rmse:2.17002

In [173]:
predict_matrix = bst.predict( xg_test )

NameError: name 'bst' is not defined

In [ ]:
gbm.

In [165]:
predict_matrix = gbm.predict_proba(dtest)

AttributeError: 'Booster' object has no attribute 'predict_proba'

In [162]:
predict_matrix.shape

(5668,)

In [163]:
df_test.shape

(5668, 238)

In [160]:
df = pd.DataFrame(predict_matrix)

In [161]:
df

             0
0     4.406569
1     3.651589
2     5.185692
3     4.219996
4     3.500709
5     3.211769
6     5.253383
7     4.613370
8     5.981335
9     3.459876
10    4.773314
11    6.638809
12    4.128919
13    5.650196
14    5.565290
15    5.214373
16    4.673383
17    6.858766
18    5.526064
19    5.453412
20    1.969415
21    3.219915
22    2.013935
23    3.371247
24    4.016641
25    3.131169
26    3.483901
27    6.168431
28    6.495704
29    4.670772
...        ...
5638  3.863379
5639  2.236010
5640  5.208152
5641  2.610685
5642  5.263813
5643  5.116628
5644  5.924911
5645  5.787977
5646  5.073625
5647  2.758739
5648  4.494724
5649  2.770651
5650  3.652661
5651  3.130738
5652  3.961572
5653  5.870083
5654  3.154457
5655  4.968115
5656  3.955069
5657  3.220336
5658  3.353456
5659  4.350673
5660  3.984966
5661  5.592316
5662  5.292644
5663  1.264648
5664  3.111580
5665  3.211769
5666  3.823255
5667  3.211769

[5668 rows x 1 columns]

In [174]:
 clf = XGBoostClassifier(
        eval_metric = 'auc',
        num_class = 2,
        nthread = 4,
        eta = 0.1,
        num_boost_round = 80,
        max_depth = 12,
        subsample = 0.5,
        colsample_bytree = 1.0,
        silent = 1,
        )

NameError: name 'XGBoostClassifier' is not defined

In [ ]:
181/2

In [ ]:
param = {}
# use softmax multi-class classification
param['objective'] = 'multi:softprob'
# scale weight of positive examples
param['eta'] = 0.1
param['max_depth'] = 6
param['silent'] = 1
param['nthread'] = 4
param['num_class'] = 9

In [176]:
num_round = 200

In [ ]:
xg_train = xgb.DMatrix( x_train, label=y_train)

In [ ]:
bst = xgb.train(param, xg_train, num_round)

In [ ]:
test_Y=np.repeat(0, len(x_test))
xg_test = xgb.DMatrix(x_test, label=test_Y)

In [ ]:
predict_matrix = bst.predict( xg_test )

In [31]:
from sklearn.feature_extraction import DictVectorizer

In [32]:
vec = DictVectorizer()

In [34]:
vec.fit(df_train_text.Text)

AttributeError: 'str' object has no attribute 'items'

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
vectorizer = CountVectorizer()

In [37]:
vectorizer.fit(df_train_text.iloc[0].Text)

ValueError: Iterable over raw text documents expected, string object received.

In [38]:
s  = df_train_text.iloc[0].Text

In [40]:
type(s)

str

In [41]:
corpus = ['This is the first document.', 'This is the second second document.', 'And the third one.', 'Is this the first document?']

In [43]:
type(corpus[0])

str

In [47]:
vectorizer.fit(df_train_text.Text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [50]:
X = vectorizer.transform(df_train_text.Text)

In [54]:
X_array = X.toarray()

In [64]:
X_array.shape

(3321, 155732)

In [55]:
from sklearn.decomposition import PCA

In [56]:
pca = PCA(n_components=12)

In [57]:
pca.fit(X_array)

PCA(copy=True, iterated_power='auto', n_components=12, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [58]:
pca.transform(X_array)

array([[-327.38533677,  -10.40703505,  -59.73368035, ...,  -18.04991177,
          15.55202366,    6.92667225],
       [-304.49837688,   66.92031229,  -10.94140942, ...,  -15.11556823,
         -22.75145669,  -11.39619574],
       [-304.49837688,   66.92031229,  -10.94140942, ...,  -15.11556823,
         -22.75145669,  -11.39619574],
       ...,
       [-355.92108808,  -42.0466479 ,   59.33470337, ...,  -71.57361113,
          13.46047484,    4.50701897],
       [-402.18267248,    5.51842793,    1.89231461, ...,    7.56319876,
         -10.86781253,    8.67933973],
       [  77.4538821 ,  -20.59990173,   44.265623  , ...,   19.04884885,
          -9.88357427,    0.86774867]])

In [59]:
y = pca.transform(X_array)

In [60]:
df = pd.DataFrame(y)

In [61]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,-327.385337,-10.407035,-59.733680,-0.177220,-12.810966,-3.638846,-24.576224,11.295630,37.693224,-18.049912,15.552024,6.926672
1,-304.498377,66.920312,-10.941409,9.437255,-27.589438,14.138782,-37.779722,34.032083,15.281713,-15.115568,-22.751457,-11.396196
2,-304.498377,66.920312,-10.941409,9.437255,-27.589438,14.138782,-37.779722,34.032083,15.281713,-15.115568,-22.751457,-11.396196
3,-393.291760,62.711417,-35.439660,-8.393497,3.798922,-11.305377,5.765690,25.751629,9.485337,-11.877161,-1.351196,-2.270336
4,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
5,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
6,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
7,398.196223,155.234761,-93.657749,-64.576068,15.671675,-29.822627,-30.165369,78.588851,31.062789,-39.398288,-2.240496,-100.570615
8,265.329508,13.210008,-5.197030,18.762737,1.908598,21.197584,-43.053837,69.024657,50.751990,43.643038,-19.530215,-53.270841
9,-277.678178,17.467975,-73.654227,13.175373,10.100599,-7.397906,-13.942197,31.660563,67.349446,-15.091235,6.619014,-42.732768
10,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
11,128.457409,84.257898,-25.059024,30.656271,-85.017405,-4.830251,-27.743265,21.578152,87.048528,46.340725,-22.697243,-20.364040
12,1226.803719,141.290932,-168.403369,-64.445399,61.058842,-25.502940,-143.247110,63.424967,287.123492,-47.905993,-31.467138,-170.122021
13,128.457409,84.257898,-25.059024,30.656271,-85.017405,-4.830251,-27.743265,21.578152,87.048528,46.340725,-22.697243,-20.364040
14,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
15,-414.550277,88.515865,-93.516221,25.068908,-76.825405,-33.425741,1.368374,-15.785943,103.645983,-12.393548,3.451986,-9.825967
16,-156.129734,81.728822,-66.658890,-22.622237,-7.879116,-7.895787,-3.369658,49.499219,6.618815,-10.556235,-11.702230,-13.857667
17,-560.385304,26.821769,-32.980188,5.520953,5.280181,-11.373126,1.993949,10.798401,21.299489,-14.074093,12.664751,-14.843266
18,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
19,-560.385304,26.821769,-32.980188,5.520953,5.280181,-11.373126,1.993949,10.798401,21.299489,-14.074093,12.664751,-14.843266
20,238.509309,62.662345,57.515787,15.024619,-35.781438,42.734273,-66.891362,71.396177,-1.315742,43.618705,-48.900686,-21.934269
21,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
22,-260.505365,18.722803,50.174878,23.323408,-4.530400,21.075299,-19.956941,25.210526,-9.865957,36.995784,-20.720734,-4.158687
23,-393.291760,62.711417,-35.439660,-8.393497,3.798922,-11.305377,5.765690,25.751629,9.485337,-11.877161,-1.351196,-2.270336
24,-393.291760,62.711417,-35.439660,-8.393497,3.798922,-11.305377,5.765690,25.751629,9.485337,-11.877161,-1.351196,-2.270336
25,-393.291760,62.711417,-35.439660,-8.393497,3.798922,-11.305377,5.765690,25.751629,9.485337,-11.877161,-1.351196,-2.270336
26,-330.498795,49.423547,-46.249669,5.424071,-4.316057,-11.006045,-17.472334,-19.394507,-10.492226,-40.393558,-8.037339,34.735390
27,-674.504444,20.223077,-5.454756,16.070305,8.860800,-4.913345,3.647063,-7.334276,-8.260141,-18.596943,1.629730,3.214722
28,313.145655,77.471354,11.843239,-32.666837,-2.232874,-24.729546,22.063015,91.444468,-187.840334,59.526622,-31.393877,-29.370398
29,-674.504444,20.223077,-5.454756,16.070305,8.860800,-4.913345,3.647063,-7.334276,-8.260141,-18.596943,1.629730,3.214722
...,...,...,...,...,...,...,...,...,...,...,...,...
3291,-614.742303,18.384808,11.670929,25.019569,11.883912,2.951278,-2.904702,-6.303425,-6.006611,-9.482569,-0.912899,-6.091067
3292,-614.742303,18.384808,11.670929,25.019569,11.883912,2.951278,-2.904702,-6.303425,-6.006611,-9.482569,-0.912899,-6.091067
3293,-499.469809,9.464243,-38.449019,31.957359,4.160911,2.408327,12.451881,-60.052013,23.628414,-1.423217,-10.663109,1.288245
3294,-354.233685,-5.897659,-37.843554,9.828996,-8.527740,-12.235410,9.821705,-65.892239,5.016468,-14.455892,-16.687264,11.322481
3295,-385.617987,20.976350,-0.360110,25.795133,21.533974,14.309328,-44.339960,9.670504,39.428258,-14.860438,-13.511688,-42.215861
3296,715.469330,84.906677,-18.327913,11.209668,36.093290,14.358722,-102.173380,55.845247,23.305016,-60.534083,-32.883167,-26.045236
3297,535.000401,-40.226866,103.096548,28.722145,28.608333,36.613511,-75.970581,-34.995754,-76.866281,15.381883,-8.798474,-5.755048
3298,-267.791633,15.445819,-56.504644,-24.858940,5.971661,-25.733649,-34.714524,18.150505,23.582971,-50.149020,19.578094,-24.568820
3299,-247.736744,15.140165,-15.229706,4.925947,13.030086,-2.361853,-54.245925,3.906881,30.966577,-21.300850,10.715451,-28.000557
3300,77.453882,-20.599902,44.265623,26.071961,19.505902,6.865295,-25.788529,-40.122804,-78.196596,19.048849,-9.883574,0.867749
3301,211.844921,-10.672510,-14.131336,-27.374891,23.404669,-15.492674,-76.634363,26.768716,-5.549008,-38.663370,20.562332,-32.380411
3302,-299.778543,31.658940,-41.565569,-27.176539,2.680423,-28.333800,15.197121,26.952437,-38.139169,-26.913205,19.676816,18.103962
3303,-267.791633,15.445819,-56.504644,-24.858940,5.971661,-25.733649,-34.714524,18.150505,23.582971,-50.149020,19.578094,-24.568820
3304,-299.778543,31.658940,-41.565569,-27.176539,2.680423,-28.333800,15.197121,26.952437,-38.139169,-26.913205,19.676816,18.103962
3305,-267.791633,15.445819,-56.504644,-24.858940,5.971661,-25.733649,-34.714524,18.150505,23.582971,-50.149020,19.578094,-24.568820
3306,-669.325807,33.540758,-16.148973,13.320400,5.208786,-6.432800,11.342345,-5.881876,-4.537631,-13.230369,9.137104,11.304399
3307,462.123802,-69.244994,-79.281905,-42.396124,-29.787656,-35.329982,-20.781603,5.506935,-70.484027,-58.731333,33.256814,34.264275
3308,-316.205158,10.815933,-17.894349,-8.359081,1.889398,-4.713399,-30.519845,5.063829,22.993419,-58.496925,18.900540,-14.811700
3309,-247.736744,15.140165,-15.229706,4.925947,13.030086,-2.361853,-54.245925,3.906881,30.966577,-21.300850,10.715451,-28.000557
3310,-55.091893,-33.733763,-83.989600,-11.219048,-20.392665,-34.930494,-9.017642,29.038546,-31.449294,-1.849502,51.733359,3.314804
3311,-123.575581,-87.483569,-39.029057,28.776071,1.380136,-17.566657,-27.678597,-40.812691,11.083620,-21.239354,17.300669,-17.722484
3312,-396.150956,-40.530880,-65.421178,19.763480,-20.197891,-36.390268,20.979838,-109.932538,-17.586576,-16.641934,1.316100,14.604639
3313,-247.736744,15.140165,-15.229706,4.925947,13.030086,-2.361853,-54.245925,3.906881,30.966577,-21.300850,10.715451,-28.000557
3314,388.291768,93.067552,-62.101262,-45.850186,2.443043,-42.358743,-53.806970,-3.370948,-12.982873,-21.153764,10.076412,-34.882355
3315,247.163446,-112.539564,99.271422,27.496723,7.477586,25.815169,-129.480459,-21.976856,7.189620,-87.027312,26.899306,9.672944
3316,146.511767,35.893467,-40.527335,-38.262582,13.087430,-23.330705,-60.635194,37.935207,16.386507,-35.980392,25.350133,-40.055552
3317,-267.791633,15.445819,-56.504644,-24.858940,5.971661,-25.733649,-34.714524,18.150505,23.582971,-50.149020,19.578094,-24.568820
3318,-355.921088,-42.046648,59.334703,28.379000,6.832164,-4.215625,-52.059000,-35.473123,-32.615691,-71.573611,13.460475,4.507019
3319,-402.182672,5.518428,1.892315,28.587912,2.072894,-3.375680,16.131310,-48.741014,-49.064616,7.563199,-10.867813,8.679340
3320,77.453882,-20.599902,44.265623,26.071961,19.505902,6.865295,-25.788529,-40.122804,-78.196596,19.048849,-9.883574,0.867749

In [66]:
df2 = pd.DataFrame(X_array)

In [67]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,155722,155723,155724,155725,155726,155727,155728,155729,155730,155731
0,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

/Users/takuyasakaguchi/anaconda/envs/python36/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [69]:
x_train = df2

In [70]:
y_train = df_train.Class

In [71]:
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train, y_train, random_state=0)

In [72]:
from sklearn.ensemble import RandomForestClassifier

Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train,random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(Xtrain, ytrain)
ypred = clf.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.6305655836341757

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train, random_state=0)
gbt = GradientBoostingClassifier(max_depth=30, n_estimators=50)
gbt.fit(Xtrain, ytrain)
ypred = gbt.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

In [81]:
x = clf.feature_importances_

In [82]:
x

array([  8.53939958e-05,   2.60545946e-04,   0.00000000e+00, ...,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00])

In [83]:
x_train.columns

RangeIndex(start=0, stop=155732, step=1)

In [84]:
max(x)

0.005177154977148689

In [86]:
np.mean(x)

6.4212878534918963e-06

In [88]:
df3 = pd.DataFrame(x)

In [90]:
df3.columns = ['a']

In [95]:
df3[df3.a > 0.001].index.values

array([ 21727,  21741,  21747,  33804,  41746,  57599,  59064,  63343,
        66647,  69960,  77202,  79675,  84623,  96176, 105869, 112467,
       119970, 124307, 134627, 136709, 141392, 144036, 146218, 151971,
       154113])

In [96]:
columns = df3[df3.a > 0.001].index.values

In [102]:
df4 = x_train[columns]

In [103]:
df4

,21727,21741,21747,33804,41746,57599,59064,63343,66647,69960,...,112467,119970,124307,134627,136709,141392,144036,146218,151971,154113
0,1,2,1,0,9,1,43,2,13,4,...,15,0,10,4,1,0,1,0,3,4
1,1,2,3,0,0,0,8,5,3,3,...,0,0,12,0,2,0,1,7,7,0
2,1,2,3,0,0,0,8,5,3,3,...,0,0,12,0,2,0,1,7,7,0
3,2,3,2,0,6,0,2,0,8,10,...,1,0,7,0,0,1,0,22,16,0
4,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
5,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
6,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
7,17,4,11,0,25,0,26,11,21,13,...,13,0,19,1,2,3,6,29,16,0
8,9,2,31,0,0,0,48,16,2,4,...,74,0,27,46,1,0,19,29,54,0
9,5,2,15,0,0,0,45,7,1,2,...,70,0,25,1,0,0,19,23,34,0
10,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
11,8,1,17,0,2,8,34,17,11,4,...,12,0,6,45,1,0,6,7,27,0
12,19,15,46,0,9,24,57,30,18,67,...,28,0,27,1,0,1,9,50,36,0
13,8,1,17,0,2,8,34,17,11,4,...,12,0,6,45,1,0,6,7,27,0
14,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
15,4,1,1,0,2,8,31,8,10,2,...,8,0,4,0,0,0,6,1,7,0
16,1,0,5,0,6,2,10,10,10,16,...,4,0,11,0,6,0,3,4,19,0
17,1,0,4,0,1,0,1,18,1,1,...,1,0,0,0,10,0,1,10,24,0
18,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
19,1,0,4,0,1,0,1,18,1,1,...,1,0,0,0,10,0,1,10,24,0
20,5,2,19,0,0,0,11,14,4,5,...,4,0,14,45,3,0,1,13,27,0
21,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
22,4,0,16,0,0,0,3,9,1,2,...,4,0,2,45,1,0,0,6,20,0
23,2,3,2,0,6,0,2,0,8,10,...,1,0,7,0,0,1,0,22,16,0
24,2,3,2,0,6,0,2,0,8,10,...,1,0,7,0,0,1,0,22,16,0
25,2,3,2,0,6,0,2,0,8,10,...,1,0,7,0,0,1,0,22,16,0
26,1,0,11,0,7,2,9,6,10,6,...,1,0,8,0,0,0,3,1,5,0
27,0,0,0,0,5,0,2,0,1,0,...,0,0,2,0,0,0,0,0,3,0
28,8,5,10,0,10,0,45,4,11,2,...,0,0,18,0,0,2,1,0,5,1
29,0,0,0,0,5,0,2,0,1,0,...,0,0,2,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,0,0,0,0,2,0,13,0,0,0,...,1,0,6,0,0,0,0,5,0,0
3292,0,0,0,0,2,0,13,0,0,0,...,1,0,6,0,0,0,0,5,0,0
3293,1,0,10,0,4,0,2,3,1,7,...,10,0,7,0,0,0,9,14,1,0
3294,5,6,21,0,12,0,7,2,0,3,...,7,0,6,0,0,1,8,14,9,0
3295,6,0,10,0,2,12,22,4,6,2,...,35,0,6,1,0,0,0,31,8,0
3296,28,5,97,0,15,4,39,0,7,14,...,62,0,38,0,0,3,5,48,20,0
3297,0,0,4,0,10,0,11,15,24,6,...,0,0,12,1,4,0,1,1,54,0
3298,0,0,0,0,4,0,40,2,6,0,...,0,0,5,0,0,1,0,0,1,0
3299,0,0,3,0,3,0,29,5,10,9,...,0,0,9,0,1,1,11,4,1,0
3300,0,0,2,0,7,0,5,12,20,3,...,0,0,8,1,4,0,1,1,27,0
3301,0,0,2,0,8,0,45,10,16,0,...,0,0,12,1,2,1,0,1,23,0
3302,0,0,2,0,1,0,19,18,10,1,...,0,0,5,0,2,0,0,0,4,0
3303,0,0,0,0,4,0,40,2,6,0,...,0,0,5,0,0,1,0,0,1,0
3304,0,0,2,0,1,0,19,18,10,1,...,0,0,5,0,2,0,0,0,4,0
3305,0,0,0,0,4,0,40,2,6,0,...,0,0,5,0,0,1,0,0,1,0
3306,0,0,1,0,1,0,3,2,3,0,...,0,0,1,0,1,0,1,0,1,0
3307,4,0,7,0,11,0,93,31,81,30,...,2,0,24,2,10,2,9,2,7,1
3308,0,0,0,0,6,0,9,9,7,2,...,0,0,5,0,1,2,5,1,6,0
3309,0,0,3,0,3,0,29,5,10,9,...,0,0,9,0,1,1,11,4,1,0
3310,2,0,11,0,0,6,49,20,37,19,...,18,0,9,3,12,1,3,5,2,0
3311,7,1,13,0,3,4,31,13,12,33,...,5,0,8,0,1,1,5,0,17,0
3312,3,1,6,0,0,0,14,11,20,1,...,2,0,11,1,1,5,3,1,4,0
3313,0,0,3,0,3,0,29,5,10,9,...,0,0,9,0,1,1,11,4,1,0
3314,1,1,11,0,15,0,57,9,14,2,...,0,0,15,0,0,1,1,0,22,0
3315,5,1,28,0,0,0,11,14,65,7,...,0,0,7,0,0,1,0,0,14,10
3316,1,1,11,0,8,0,57,4,12,2,...,0,0,11,0,0,1,0,0,21,0
3317,0,0,0,0,4,0,40,2,6,0,...,0,0,5,0,0,1,0,0,1,0
3318,1,0,12,0,0,0,4,9,43,1,...,0,0,1,0,0,0,0,0,6,0
3319,0,0,0,0,3,0,0,4,10,3,...,0,0,1,0,2,0,1,0,5,0
3320,0,0,2,0,7,0,5,12,20,3,...,0,0,8,1,4,0,1,1,27,0

In [74]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

In [75]:
enc.fit(df_train.Gene)

ValueError: could not convert string to float: 'RUNX1'

In [76]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [77]:
le.fit(df_train.Gene)

LabelEncoder()

In [78]:
le.transform(df_train.Gene)

array([ 85,  39,  39, ..., 221, 221, 221])

In [79]:
df_train.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4